.artwork,
.artwork::before,
.artwork::after {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  --vinyl-c1: rgb(236, 225, 225);
  --vinyl-c2: rgb(250, 240, 230);
}

.artwork {
  background: linear-gradient(130deg, white 20%, black 100%);
}

/* VINYL DISC */
.artwork::before {
  content: "";
  width: 100%;
  height: 100%;
  background: 
  conic-gradient(from 0deg at 66.4% 50.8%, rgba(0, 0, 0, 0.2) 0% 5%, rgba(255, 255, 255, 0.1) 12.5% 30%, rgba(0, 0, 0, 0.2) 45%, rgba(0, 0, 0, 0.2) 80%),
  radial-gradient(
    ellipse 100% 100% at 66.4% 50.8%,
    var(--vinyl-c2) 0% 8%,
    lightgrey 8% 8.5%,
    var(--vinyl-c2) 8.5% 9%,
    lightgrey 9.5%,
    var(--vinyl-c1) 9.5% 12%,
    lightgrey 13%,
    white 13% 13.9%,
    var(--vinyl-c1) 13.9% 14%,
    white 14% 14.9%,
    var(--vinyl-c1) 14.9% 15%,
    white 15% 14.9%,
    var(--vinyl-c1) 15.9% 16%,
    white 16% 16.9%,
    var(--vinyl-c1) 16.9% 17%,
    white 17% 17.9%,
    var(--vinyl-c1) 17.9% 18%,
    white 18% 18.9%,
    var(--vinyl-c1) 18.9% 19%,
    white 18% 18.9%,
    var(--vinyl-c1) 18.7% 19%,
    white 19% 19.9%,
    var(--vinyl-c1) 19.9% 20%,
    white 20% 20.9%,
    var(--vinyl-c1) 20.9% 21%,
    white 21% 21.9%,
    var(--vinyl-c1) 21.9% 22%,
    white 22% 22.8%,
    var(--vinyl-c1) 22.9% 23%,
    white 23% 23.9%,
    var(--vinyl-c1) 23.9% 24%,
    white 24% 24.9%,
    var(--vinyl-c1) 24.9% 25%,
    white 25% 27%,
    rgba(0, 0, 0, 0.5) 27.5% 28%,
    rgba(0, 0, 0, 0.1) 29.5%
  );
}

/* VINYL COVER */
.artwork::after {
  content: "";
  right: auto;
  left: 8%;
  height: 62.5%;
  width: 62.5%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background: radial-gradient(
      ellipse 100% 100% at 20% 50%,
      transparent 0% 8%,
      white 10%,
      transparent 10%
    ),
    radial-gradient(
      ellipse 100% 100% at 50% 50%,
      transparent 0% 8%,
      white 10%,
      transparent 10%
    ),
    radial-gradient(
      ellipse 100% 100% at 80% 50%,
      transparent 0% 8%,
      white 10%,
      transparent 10%
    ),
    black;
}