.artwork,
.artwork::before,
.artwork::after {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.artwork {
  background: white;
}

.artwork::before {
  content: "";
  width: 100%;
  height: 100%;
  background: 
  radial-gradient(ellipse 120% 120% at 90% 5%, rgba(55, 0, 255, 0.2) 0% 30%, transparent 30%),
  radial-gradient(ellipse 150% 150% at 100% 55%, rgba(255, 0, 0, 0.2) 0% 30%, transparent 30%),
  radial-gradient(ellipse 110% 110% at 10% 20%, rgba(194, 191, 0, 0.2) 0% 30%, transparent 30%),
  radial-gradient(ellipse 160% 160% at 85% 80%, rgba(194, 191, 0, 0.2) 0% 30%, transparent 30%),
  radial-gradient(ellipse 80% 80% at 10% 70%, rgba(23, 194, 0, 0.2) 0% 30%, transparent 30%),
  radial-gradient(ellipse 200% 200% at 0% 80%, rgba(0, 247, 255, 0.2) 0% 30%, transparent 30%),
  radial-gradient(ellipse 70% 70% at 50% 10%, rgba(194, 191, 0, 0.2) 0% 30%, transparent 30%),
  radial-gradient(ellipse 50% 50% at 20% 20%, rgba(255, 0, 0, 0.2) 0% 30%, transparent 30%),
  radial-gradient(ellipse 70% 70% at 40% 35%, rgba(0, 255, 64, 0.2) 0% 30%, transparent 30%),
  radial-gradient(ellipse 20% 20% at 70% 35%, rgba(255, 0, 212, 0.2) 0% 30%, transparent 30%),
  radial-gradient(ellipse 85% 85% at 75% 75%, rgba(194, 191, 0, 0.2) 0% 30%, transparent 30%),
  radial-gradient(ellipse 100% 100% at 50% 50%, rgb(251, 251, 251) 0% 30%, transparent 30%);
  animation: hue-rotate 5s linear infinite alternate;
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}