.artwork,
.artwork::before,
.artwork::after {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  --c1: darkorchid;
  --c2: plum;
  --c3: red;
  --c4: hotpink;
  --s1: black;
  --s2: snow;
  --bg: limegreen;
  --pixel: 12.5px;
}

.artwork {
  background: var(--bg);
  appearance: none;
  cursor: pointer;
}

.artwork:checked,
.artwork:checked::before,
.artwork:checked::after {
  --c1: grey;
  --c2: azure;
  --c3: lightblue;
  --c4: aqua;
  --s1: black;
  --s2: snow;
  --bg: darkcyan;
}

.artwork:checked {
  background: linear-gradient(70deg, var(--c2), var(--bg));
}

.artwork::before {
  content: "";
  width: var(--pixel);
  height: var(--pixel);
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  /* background: red; */
  box-shadow: 
  /* ROW 1 */ calc(5 * var(--pixel)) calc(1 * var(--pixel))
      var(--s1),
    calc(6 * var(--pixel)) calc(1 * var(--pixel)) var(--s1),
    /* ROW 2 */ calc(5 * var(--pixel)) calc(2 * var(--pixel)) var(--s1),
    calc(6 * var(--pixel)) calc(2 * var(--pixel)) var(--c1),
    calc(7 * var(--pixel)) calc(2 * var(--pixel)) var(--s1),
    /* ROW 3 */ calc(5 * var(--pixel)) calc(3 * var(--pixel)) var(--s1),
    calc(6 * var(--pixel)) calc(3 * var(--pixel)) var(--c1),
    calc(7 * var(--pixel)) calc(3 * var(--pixel)) var(--c1),
    calc(8 * var(--pixel)) calc(3 * var(--pixel)) var(--s1),
    calc(9 * var(--pixel)) calc(3 * var(--pixel)) var(--s1),
    calc(13 * var(--pixel)) calc(3 * var(--pixel)) var(--s1),
    calc(14 * var(--pixel)) calc(3 * var(--pixel)) var(--s1),
    calc(23 * var(--pixel)) calc(3 * var(--pixel)) var(--s1),
    calc(24 * var(--pixel)) calc(3 * var(--pixel)) var(--s1),
    calc(25 * var(--pixel)) calc(3 * var(--pixel)) var(--s1),
    /* ROW 4 */ calc(6 * var(--pixel)) calc(4 * var(--pixel)) var(--s1),
    calc(7 * var(--pixel)) calc(4 * var(--pixel)) var(--c1),
    calc(8 * var(--pixel)) calc(4 * var(--pixel)) var(--c1),
    calc(9 * var(--pixel)) calc(4 * var(--pixel)) var(--c1),
    calc(10 * var(--pixel)) calc(4 * var(--pixel)) var(--s1),
    calc(12 * var(--pixel)) calc(4 * var(--pixel)) var(--s1),
    calc(13 * var(--pixel)) calc(4 * var(--pixel)) var(--c2),
    calc(14 * var(--pixel)) calc(4 * var(--pixel)) var(--s1),
    calc(16 * var(--pixel)) calc(4 * var(--pixel)) var(--s1),
    calc(17 * var(--pixel)) calc(4 * var(--pixel)) var(--s1),
    calc(21 * var(--pixel)) calc(4 * var(--pixel)) var(--s1),
    calc(22 * var(--pixel)) calc(4 * var(--pixel)) var(--s1),
    calc(23 * var(--pixel)) calc(4 * var(--pixel)) var(--c2),
    calc(24 * var(--pixel)) calc(4 * var(--pixel)) var(--c1),
    calc(25 * var(--pixel)) calc(4 * var(--pixel)) var(--s1),
    /* ROW 5 */ calc(6 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
    calc(7 * var(--pixel)) calc(5 * var(--pixel)) var(--c1),
    calc(8 * var(--pixel)) calc(5 * var(--pixel)) var(--c1),
    calc(9 * var(--pixel)) calc(5 * var(--pixel)) var(--c1),
    calc(10 * var(--pixel)) calc(5 * var(--pixel)) var(--c1),
    calc(11 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
    calc(12 * var(--pixel)) calc(5 * var(--pixel)) var(--c2),
    calc(13 * var(--pixel)) calc(5 * var(--pixel)) var(--c2),
    calc(14 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
    calc(15 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
    calc(16 * var(--pixel)) calc(5 * var(--pixel)) var(--c2),
    calc(17 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
    calc(19 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
    calc(20 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
    calc(21 * var(--pixel)) calc(5 * var(--pixel)) var(--c2),
    calc(22 * var(--pixel)) calc(5 * var(--pixel)) var(--c2),
    calc(23 * var(--pixel)) calc(5 * var(--pixel)) var(--c1),
    calc(24 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
    /* ROW 6 */ calc(6 * var(--pixel)) calc(6 * var(--pixel)) var(--s1),
    calc(7 * var(--pixel)) calc(6 * var(--pixel)) var(--c1),
    calc(8 * var(--pixel)) calc(6 * var(--pixel)) var(--c1),
    calc(9 * var(--pixel)) calc(6 * var(--pixel)) var(--c1),
    calc(10 * var(--pixel)) calc(6 * var(--pixel)) var(--s1),
    calc(11 * var(--pixel)) calc(6 * var(--pixel)) var(--c2),
    calc(12 * var(--pixel)) calc(6 * var(--pixel)) var(--c2),
    calc(13 * var(--pixel)) calc(6 * var(--pixel)) var(--c2),
    calc(14 * var(--pixel)) calc(6 * var(--pixel)) var(--s1),
    calc(15 * var(--pixel)) calc(6 * var(--pixel)) var(--c2),
    calc(16 * var(--pixel)) calc(6 * var(--pixel)) var(--c2),
    calc(17 * var(--pixel)) calc(6 * var(--pixel)) var(--s1),
    calc(18 * var(--pixel)) calc(6 * var(--pixel)) var(--s1),
    calc(19 * var(--pixel)) calc(6 * var(--pixel)) var(--c2),
    calc(20 * var(--pixel)) calc(6 * var(--pixel)) var(--c2),
    calc(21 * var(--pixel)) calc(6 * var(--pixel)) var(--c2),
    calc(22 * var(--pixel)) calc(6 * var(--pixel)) var(--c1),
    calc(23 * var(--pixel)) calc(6 * var(--pixel)) var(--c1),
    calc(24 * var(--pixel)) calc(6 * var(--pixel)) var(--s1),
    /* ROW 7 */ calc(7 * var(--pixel)) calc(7 * var(--pixel)) var(--s1),
    calc(8 * var(--pixel)) calc(7 * var(--pixel)) var(--s1),
    calc(9 * var(--pixel)) calc(7 * var(--pixel)) var(--c2),
    calc(10 * var(--pixel)) calc(7 * var(--pixel)) var(--c2),
    calc(11 * var(--pixel)) calc(7 * var(--pixel)) var(--c2),
    calc(12 * var(--pixel)) calc(7 * var(--pixel)) var(--c2),
    calc(13 * var(--pixel)) calc(7 * var(--pixel)) var(--c2),
    calc(14 * var(--pixel)) calc(7 * var(--pixel)) var(--c2),
    calc(15 * var(--pixel)) calc(7 * var(--pixel)) var(--c2),
    calc(16 * var(--pixel)) calc(7 * var(--pixel)) var(--s1),
    calc(17 * var(--pixel)) calc(7 * var(--pixel)) var(--s1),
    calc(18 * var(--pixel)) calc(7 * var(--pixel)) var(--c2),
    calc(19 * var(--pixel)) calc(7 * var(--pixel)) var(--c2),
    calc(20 * var(--pixel)) calc(7 * var(--pixel)) var(--c2),
    calc(21 * var(--pixel)) calc(7 * var(--pixel)) var(--c1),
    calc(22 * var(--pixel)) calc(7 * var(--pixel)) var(--c1),
    calc(23 * var(--pixel)) calc(7 * var(--pixel)) var(--s1),
    /* ROW 8 */ calc(7 * var(--pixel)) calc(8 * var(--pixel)) var(--s1),
    calc(8 * var(--pixel)) calc(8 * var(--pixel)) var(--c2),
    calc(9 * var(--pixel)) calc(8 * var(--pixel)) var(--c2),
    calc(10 * var(--pixel)) calc(8 * var(--pixel)) var(--c2),
    calc(11 * var(--pixel)) calc(8 * var(--pixel)) var(--c2),
    calc(12 * var(--pixel)) calc(8 * var(--pixel)) var(--c2),
    calc(13 * var(--pixel)) calc(8 * var(--pixel)) var(--c2),
    calc(14 * var(--pixel)) calc(8 * var(--pixel)) var(--c2),
    calc(15 * var(--pixel)) calc(8 * var(--pixel)) var(--c2),
    calc(16 * var(--pixel)) calc(8 * var(--pixel)) var(--c1),
    calc(17 * var(--pixel)) calc(8 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(8 * var(--pixel)) var(--c2),
    calc(19 * var(--pixel)) calc(8 * var(--pixel)) var(--c1),
    calc(20 * var(--pixel)) calc(8 * var(--pixel)) var(--c1),
    calc(21 * var(--pixel)) calc(8 * var(--pixel)) var(--c1),
    calc(22 * var(--pixel)) calc(8 * var(--pixel)) var(--c1),
    calc(23 * var(--pixel)) calc(8 * var(--pixel)) var(--s1),
    /* ROW 9 */ calc(6 * var(--pixel)) calc(9 * var(--pixel)) var(--s1),
    calc(7 * var(--pixel)) calc(9 * var(--pixel)) var(--c1),
    calc(8 * var(--pixel)) calc(9 * var(--pixel)) var(--c2),
    calc(9 * var(--pixel)) calc(9 * var(--pixel)) var(--c2),
    calc(10 * var(--pixel)) calc(9 * var(--pixel)) var(--c2),
    calc(11 * var(--pixel)) calc(9 * var(--pixel)) var(--c2),
    calc(12 * var(--pixel)) calc(9 * var(--pixel)) var(--c2),
    calc(13 * var(--pixel)) calc(9 * var(--pixel)) var(--c2),
    calc(14 * var(--pixel)) calc(9 * var(--pixel)) var(--c2),
    calc(15 * var(--pixel)) calc(9 * var(--pixel)) var(--c1),
    calc(16 * var(--pixel)) calc(9 * var(--pixel)) var(--c1),
    calc(17 * var(--pixel)) calc(9 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(9 * var(--pixel)) var(--c1),
    calc(19 * var(--pixel)) calc(9 * var(--pixel)) var(--c1),
    calc(20 * var(--pixel)) calc(9 * var(--pixel)) var(--c1),
    calc(21 * var(--pixel)) calc(9 * var(--pixel)) var(--c1),
    calc(22 * var(--pixel)) calc(9 * var(--pixel)) var(--s1),
    /* ROW 10 */ calc(4 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
    calc(5 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
    calc(6 * var(--pixel)) calc(10 * var(--pixel)) var(--c4),
    calc(7 * var(--pixel)) calc(10 * var(--pixel)) var(--c1),
    calc(8 * var(--pixel)) calc(10 * var(--pixel)) var(--c1),
    calc(9 * var(--pixel)) calc(10 * var(--pixel)) var(--c2),
    calc(10 * var(--pixel)) calc(10 * var(--pixel)) var(--c2),
    calc(11 * var(--pixel)) calc(10 * var(--pixel)) var(--c2),
    calc(12 * var(--pixel)) calc(10 * var(--pixel)) var(--c2),
    calc(13 * var(--pixel)) calc(10 * var(--pixel)) var(--c1),
    calc(14 * var(--pixel)) calc(10 * var(--pixel)) var(--c1),
    calc(15 * var(--pixel)) calc(10 * var(--pixel)) var(--c1),
    calc(16 * var(--pixel)) calc(10 * var(--pixel)) var(--c1),
    calc(17 * var(--pixel)) calc(10 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(10 * var(--pixel)) var(--c1),
    calc(19 * var(--pixel)) calc(10 * var(--pixel)) var(--c1),
    calc(20 * var(--pixel)) calc(10 * var(--pixel)) var(--c1),
    calc(21 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
    calc(22 * var(--pixel)) calc(10 * var(--pixel)) var(--c1),
    calc(23 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
    calc(24 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
    /* ROW 11 */ calc(3 * var(--pixel)) calc(11 * var(--pixel)) var(--s1),
    calc(4 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(5 * var(--pixel)) calc(11 * var(--pixel)) var(--s1),
    calc(6 * var(--pixel)) calc(11 * var(--pixel)) var(--c3),
    calc(7 * var(--pixel)) calc(11 * var(--pixel)) var(--c3),
    calc(8 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(9 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(10 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(11 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(12 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(13 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(14 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(15 * var(--pixel)) calc(11 * var(--pixel)) var(--c4),
    calc(16 * var(--pixel)) calc(11 * var(--pixel)) var(--c4),
    calc(17 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(19 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(20 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(21 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(22 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(23 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
    calc(24 * var(--pixel)) calc(11 * var(--pixel)) var(--s1),
    /* ROW 12 */ calc(2 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
    calc(3 * var(--pixel)) calc(12 * var(--pixel)) var(--c1),
    calc(4 * var(--pixel)) calc(12 * var(--pixel)) var(--c1),
    calc(5 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
    calc(6 * var(--pixel)) calc(12 * var(--pixel)) var(--c3),
    calc(7 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
    calc(8 * var(--pixel)) calc(12 * var(--pixel)) var(--c1),
    calc(9 * var(--pixel)) calc(12 * var(--pixel)) var(--c1),
    calc(10 * var(--pixel)) calc(12 * var(--pixel)) var(--c1),
    calc(11 * var(--pixel)) calc(12 * var(--pixel)) var(--c1),
    calc(12 * var(--pixel)) calc(12 * var(--pixel)) var(--c1),
    calc(13 * var(--pixel)) calc(12 * var(--pixel)) var(--c4),
    calc(14 * var(--pixel)) calc(12 * var(--pixel)) var(--c3),
    calc(15 * var(--pixel)) calc(12 * var(--pixel)) var(--c3),
    calc(16 * var(--pixel)) calc(12 * var(--pixel)) var(--c1),
    calc(17 * var(--pixel)) calc(12 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(12 * var(--pixel)) var(--c1),
    calc(19 * var(--pixel)) calc(12 * var(--pixel)) var(--c1),
    calc(20 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
    calc(21 * var(--pixel)) calc(12 * var(--pixel)) var(--c1),
    calc(22 * var(--pixel)) calc(12 * var(--pixel)) var(--c1),
    calc(23 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
    /* ROW 13 */ calc(2 * var(--pixel)) calc(13 * var(--pixel)) var(--s1),
    calc(3 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(4 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(5 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(6 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(7 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(8 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(9 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(10 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(11 * var(--pixel)) calc(13 * var(--pixel)) var(--c3),
    calc(12 * var(--pixel)) calc(13 * var(--pixel)) var(--s1),
    calc(13 * var(--pixel)) calc(13 * var(--pixel)) var(--c3),
    calc(14 * var(--pixel)) calc(13 * var(--pixel)) var(--c3),
    calc(15 * var(--pixel)) calc(13 * var(--pixel)) var(--c4),
    calc(16 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(17 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(19 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(20 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(21 * var(--pixel)) calc(13 * var(--pixel)) var(--s1),
    calc(22 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(23 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
    calc(24 * var(--pixel)) calc(13 * var(--pixel)) var(--s1),
    /* ROW 14 */ calc(3 * var(--pixel)) calc(14 * var(--pixel)) var(--s1),
    calc(4 * var(--pixel)) calc(14 * var(--pixel)) var(--s1),
    calc(5 * var(--pixel)) calc(14 * var(--pixel)) var(--s1),
    calc(6 * var(--pixel)) calc(14 * var(--pixel)) var(--s1),
    calc(7 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
    calc(8 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
    calc(9 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
    calc(10 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
    calc(11 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
    calc(12 * var(--pixel)) calc(14 * var(--pixel)) var(--c3),
    calc(13 * var(--pixel)) calc(14 * var(--pixel)) var(--c3),
    calc(14 * var(--pixel)) calc(14 * var(--pixel)) var(--c4),
    calc(15 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
    calc(16 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
    calc(17 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
    calc(19 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
    calc(20 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
    calc(21 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
    calc(22 * var(--pixel)) calc(14 * var(--pixel)) var(--s1),
    calc(23 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
    calc(24 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
    calc(25 * var(--pixel)) calc(14 * var(--pixel)) var(--s1),
    /* ROW 15 */ calc(5 * var(--pixel)) calc(15 * var(--pixel)) var(--s1),
    calc(6 * var(--pixel)) calc(15 * var(--pixel)) var(--s2),
    calc(7 * var(--pixel)) calc(15 * var(--pixel)) var(--s1),
    calc(8 * var(--pixel)) calc(15 * var(--pixel)) var(--s1),
    calc(9 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
    calc(10 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
    calc(11 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
    calc(12 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
    calc(13 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
    calc(14 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
    calc(15 * var(--pixel)) calc(15 * var(--pixel)) var(--s1),
    calc(16 * var(--pixel)) calc(15 * var(--pixel)) var(--s1),
    calc(17 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
    calc(19 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
    calc(20 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
    calc(21 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
    calc(22 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
    calc(23 * var(--pixel)) calc(15 * var(--pixel)) var(--s1),
    calc(24 * var(--pixel)) calc(15 * var(--pixel)) var(--s1),
    /* ROW 16 */ calc(6 * var(--pixel)) calc(16 * var(--pixel)) var(--s1),
    calc(7 * var(--pixel)) calc(16 * var(--pixel)) var(--s2),
    calc(8 * var(--pixel)) calc(16 * var(--pixel)) var(--s2),
    calc(9 * var(--pixel)) calc(16 * var(--pixel)) var(--s1),
    calc(10 * var(--pixel)) calc(16 * var(--pixel)) var(--s1),
    calc(11 * var(--pixel)) calc(16 * var(--pixel)) var(--s1),
    calc(12 * var(--pixel)) calc(16 * var(--pixel)) var(--s1),
    calc(13 * var(--pixel)) calc(16 * var(--pixel)) var(--s1),
    calc(14 * var(--pixel)) calc(16 * var(--pixel)) var(--s1),
    calc(15 * var(--pixel)) calc(16 * var(--pixel)) var(--s2),
    calc(16 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
    calc(17 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
    calc(19 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
    calc(20 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
    calc(21 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
    calc(22 * var(--pixel)) calc(16 * var(--pixel)) var(--s1),
    calc(23 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
    calc(24 * var(--pixel)) calc(16 * var(--pixel)) var(--s1),
    /* ROW 17 */ calc(6 * var(--pixel)) calc(17 * var(--pixel)) var(--s1),
    calc(7 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
    calc(8 * var(--pixel)) calc(17 * var(--pixel)) var(--s2),
    calc(9 * var(--pixel)) calc(17 * var(--pixel)) var(--s2),
    calc(10 * var(--pixel)) calc(17 * var(--pixel)) var(--s2),
    calc(11 * var(--pixel)) calc(17 * var(--pixel)) var(--s2),
    calc(12 * var(--pixel)) calc(17 * var(--pixel)) var(--s2),
    calc(13 * var(--pixel)) calc(17 * var(--pixel)) var(--s2),
    calc(14 * var(--pixel)) calc(17 * var(--pixel)) var(--s2),
    calc(15 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
    calc(16 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
    calc(17 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(17 * var(--pixel)) var(--s1),
    calc(19 * var(--pixel)) calc(17 * var(--pixel)) var(--s1),
    calc(20 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
    calc(21 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
    calc(22 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
    calc(23 * var(--pixel)) calc(17 * var(--pixel)) var(--s1),
    /* ROW 18 */ calc(7 * var(--pixel)) calc(18 * var(--pixel)) var(--s1),
    calc(8 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
    calc(9 * var(--pixel)) calc(18 * var(--pixel)) var(--s2),
    calc(10 * var(--pixel)) calc(18 * var(--pixel)) var(--s2),
    calc(11 * var(--pixel)) calc(18 * var(--pixel)) var(--s2),
    calc(12 * var(--pixel)) calc(18 * var(--pixel)) var(--s2),
    calc(13 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
    calc(14 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
    calc(15 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
    calc(16 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
    calc(17 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
    calc(19 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
    calc(20 * var(--pixel)) calc(18 * var(--pixel)) var(--s1),
    calc(21 * var(--pixel)) calc(18 * var(--pixel)) var(--s1),
    calc(22 * var(--pixel)) calc(18 * var(--pixel)) var(--s1),
    calc(23 * var(--pixel)) calc(18 * var(--pixel)) var(--s1),
    /* ROW 19 */ calc(7 * var(--pixel)) calc(19 * var(--pixel)) var(--s1),
    calc(8 * var(--pixel)) calc(19 * var(--pixel)) var(--s1),
    calc(9 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
    calc(10 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
    calc(11 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
    calc(12 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
    calc(13 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
    calc(14 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
    calc(15 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
    calc(16 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
    calc(17 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
    calc(19 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
    calc(20 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
    calc(21 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
    calc(22 * var(--pixel)) calc(19 * var(--pixel)) var(--s1),
    calc(23 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
    calc(24 * var(--pixel)) calc(19 * var(--pixel)) var(--s1),
    /* ROW 20 */ calc(7 * var(--pixel)) calc(20 * var(--pixel)) var(--s1),
    calc(8 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
    calc(9 * var(--pixel)) calc(20 * var(--pixel)) var(--s1),
    calc(10 * var(--pixel)) calc(20 * var(--pixel)) var(--s1),
    calc(11 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
    calc(12 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
    calc(13 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
    calc(14 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
    calc(15 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
    calc(16 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
    calc(17 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
    calc(19 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
    calc(20 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
    calc(21 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
    calc(22 * var(--pixel)) calc(20 * var(--pixel)) var(--s1),
    calc(23 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
    calc(24 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
    calc(25 * var(--pixel)) calc(20 * var(--pixel)) var(--s1),
    /* ROW 21 */ calc(8 * var(--pixel)) calc(21 * var(--pixel)) var(--s1),
    calc(9 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
    calc(10 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
    calc(11 * var(--pixel)) calc(21 * var(--pixel)) var(--s1),
    calc(12 * var(--pixel)) calc(21 * var(--pixel)) var(--s1),
    calc(13 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
    calc(14 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
    calc(15 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
    calc(16 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
    calc(17 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
    calc(19 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
    calc(20 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
    calc(21 * var(--pixel)) calc(21 * var(--pixel)) var(--s1),
    calc(22 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
    calc(23 * var(--pixel)) calc(21 * var(--pixel)) var(--s1),
    calc(24 * var(--pixel)) calc(21 * var(--pixel)) var(--s1),
    /* ROW 22 */ calc(9 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
    calc(10 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
    calc(11 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
    calc(13 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
    calc(14 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
    calc(15 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
    calc(16 * var(--pixel)) calc(22 * var(--pixel)) var(--c1),
    calc(17 * var(--pixel)) calc(22 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(22 * var(--pixel)) var(--c1),
    calc(19 * var(--pixel)) calc(22 * var(--pixel)) var(--c1),
    calc(20 * var(--pixel)) calc(22 * var(--pixel)) var(--c1),
    calc(21 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
    calc(22 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
    calc(23 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
    /* ROW 23 */ calc(15 * var(--pixel)) calc(23 * var(--pixel)) var(--s1),
    calc(16 * var(--pixel)) calc(23 * var(--pixel)) var(--c1),
    calc(17 * var(--pixel)) calc(23 * var(--pixel)) var(--c1),
    calc(18 * var(--pixel)) calc(23 * var(--pixel)) var(--c1),
    calc(19 * var(--pixel)) calc(23 * var(--pixel)) var(--s1),
    calc(20 * var(--pixel)) calc(23 * var(--pixel)) var(--s1),
    /* ROW 24 */ calc(16 * var(--pixel)) calc(24 * var(--pixel)) var(--s1),
    calc(17 * var(--pixel)) calc(24 * var(--pixel)) var(--s1),
    calc(18 * var(--pixel)) calc(24 * var(--pixel)) var(--s1);
}