.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  background: var(--background-colour);
  color: var(--text-colour);
  z-index: 99;
  padding: 10px;
}

.header, .information {
  text-align: center;
}

.exit {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 3rem;
  width: 3rem;
  padding: 0;
  border: none;
  background: none;
  transition: transform 300ms ease-in-out;
}

.exit:hover {
  transform: scale(1.1);
}

:global(.dark) .exit img {
  filter: invert(1);
}

.header {
  padding: 10px 0px;
}

.title {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 50px;
}

.creator {
  font-size: 18px;
  font-style: italic;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.attribution {
  font-style: italic;
}

.category_title {
  font-weight: bold;
}

.categories {
  display: flex;
  gap: 15px;
  justify-content: space-around;
}

.categories li {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.categories .animated {
  text-decoration-color: yellow;
}

.categories .interactive {
  text-decoration-color: green;
}

.categories .onediv {
  text-decoration-color: blue;
}

.categories .pixelart {
  text-decoration-color: pink;
}

.github {
  background: var(--accent-colour);
  color: var(--background-colour);
  font-weight: bold;
  padding: 5px;
}

.github:hover {
  color: var(--text-colour);
}

.github span {
  padding-right: 1ch;
}