.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  background: var(--background-colour);
  color: var(--text-colour);
  z-index: 99;
  padding: 0.625rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.header, .information {
  text-align: center;
}

.exit {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 3rem;
  width: 3rem;
  padding: 0;
  border: none;
  background: none;
  transition: transform 300ms ease-in-out;
}

.exit:hover {
  transform: scale(1.1);
}

:global(.dark) .exit img {
  filter: invert(1);
}

.header {
  padding: 0.625rem 0rem;
}

.title {
  font-weight: bold;
  padding-bottom: 0.3125rem;
  font-size: 3.125rem;
}

.creator {
  font-size: 1.125rem;
  font-style: italic;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  padding: 0.625rem;
}

.attribution {
  font-style: italic;
}

.category_title {
  font-weight: bold;
}

.categories {
  display: flex;
  gap: 0.9375rem;
  justify-content: space-around;
}

.categories li {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.categories .animated {
  text-decoration-color: yellow;
}

.categories .interactive {
  text-decoration-color: green;
}

.categories .onediv {
  text-decoration-color: blue;
}

.categories .pixelart {
  text-decoration-color: pink;
}

.github {
  background: var(--accent-colour);
  color: var(--background-colour);
  font-weight: bold;
  padding: 0.3125rem;
}

.github:hover {
  color: var(--text-colour);
}

.github span {
  padding-right: 1ch;
}

.linkicon {
  height: 0.75rem;
  width: 0.75rem;
}

.iframeinput {
  border: 2px solid var(--text-colour);
  border-right: none;
}

.iframecopy {
  background: var(--text-colour);
  border-style: outset;
}

.iframecopy img {
  height: 0.75rem;
  width: 0.75rem;
  filter: invert(1);
}

:global(.dark) .iframecopy {
  border: 2px solid white;
  background: var(--text-colour);
}

:global(.dark) .iframecopy img {
  filter: none;
}

.iframecopy:active {
  filter: invert(0.2);
}

.sharelink {
  height: 1.5rem;
  width: 1.5rem;
}

.sharelink:hover img, .iframecopy:hover img {
  transform: scale(1.1);
}

:global(.dark) .sharelink {
  filter: brightness(0) saturate(100%) invert(92%) sepia(2%) saturate(1856%) hue-rotate(323deg) brightness(110%) contrast(88%);
}
