/* CSS ENTIRELY HAND-MADE BY MARCO BUONTEMPO [MARCOBUONTEMPO.COM] */
/* CREDIT: BASED ON CRYPTOPUNK #7804 https://cryptopunks.app/cryptopunks/details/7804 */

.artwork,
.artwork::before,
.artwork::after {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  --pixel: 14px;
  --s1: black;
  --s2: grey;
  --s3: silver;
  --s4: whitesmoke;
  --c1: paleturquoise;
  --c2: darkturquoise;
  --c3: peru;
  --c4: saddlebrown;
}

.artwork {
  background: salmon;
}

.artwork::before {
  content: "";
  top: 0;
  left: 0;
  width: var(--pixel);
  height: var(--pixel);
  box-shadow:
  /* ROW 5 */
  calc(9 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
  calc(10 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
  calc(11 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
  calc(12 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
  calc(13 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
  calc(14 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
  calc(15 * var(--pixel)) calc(5 * var(--pixel)) var(--s1),
  /* ROW 6 */
  calc(8 * var(--pixel)) calc(6 * var(--pixel)) var(--s1),
  calc(9 * var(--pixel)) calc(6 * var(--pixel)) var(--s2),
  calc(10 * var(--pixel)) calc(6 * var(--pixel)) var(--s3),
  calc(11 * var(--pixel)) calc(6 * var(--pixel)) var(--s3),
  calc(12 * var(--pixel)) calc(6 * var(--pixel)) var(--s3),
  calc(13 * var(--pixel)) calc(6 * var(--pixel)) var(--s3),
  calc(14 * var(--pixel)) calc(6 * var(--pixel)) var(--s3),
  calc(15 * var(--pixel)) calc(6 * var(--pixel)) var(--s3),
  calc(16 * var(--pixel)) calc(6 * var(--pixel)) var(--s1),
  /* ROW 7 */
  calc(7 * var(--pixel)) calc(7 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(7 * var(--pixel)) var(--s2),
  calc(9 * var(--pixel)) calc(7 * var(--pixel)) var(--s3),
  calc(10 * var(--pixel)) calc(7 * var(--pixel)) var(--s3),
  calc(11 * var(--pixel)) calc(7 * var(--pixel)) var(--s3),
  calc(12 * var(--pixel)) calc(7 * var(--pixel)) var(--s3),
  calc(13 * var(--pixel)) calc(7 * var(--pixel)) var(--s3),
  calc(14 * var(--pixel)) calc(7 * var(--pixel)) var(--s3),
  calc(15 * var(--pixel)) calc(7 * var(--pixel)) var(--s3),
  calc(16 * var(--pixel)) calc(7 * var(--pixel)) var(--s3),
  calc(17 * var(--pixel)) calc(7 * var(--pixel)) var(--s1),
  /* ROW 8 */
  calc(7 * var(--pixel)) calc(8 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(8 * var(--pixel)) var(--s2),
  calc(9 * var(--pixel)) calc(8 * var(--pixel)) var(--s3),
  calc(10 * var(--pixel)) calc(8 * var(--pixel)) var(--s3),
  calc(11 * var(--pixel)) calc(8 * var(--pixel)) var(--s1),
  calc(12 * var(--pixel)) calc(8 * var(--pixel)) var(--s1),
  calc(13 * var(--pixel)) calc(8 * var(--pixel)) var(--s1),
  calc(14 * var(--pixel)) calc(8 * var(--pixel)) var(--s1),
  calc(15 * var(--pixel)) calc(8 * var(--pixel)) var(--s1),
  calc(16 * var(--pixel)) calc(8 * var(--pixel)) var(--s1),
  calc(17 * var(--pixel)) calc(8 * var(--pixel)) var(--s1),
  calc(18 * var(--pixel)) calc(8 * var(--pixel)) var(--s1),
  /* ROW 9 */
  calc(7 * var(--pixel)) calc(9 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(9 * var(--pixel)) var(--s2),
  calc(9 * var(--pixel)) calc(9 * var(--pixel)) var(--s3),
  calc(10 * var(--pixel)) calc(9 * var(--pixel)) var(--s1),
  calc(11 * var(--pixel)) calc(9 * var(--pixel)) var(--s2),
  calc(12 * var(--pixel)) calc(9 * var(--pixel)) var(--s2),
  calc(13 * var(--pixel)) calc(9 * var(--pixel)) var(--s2),
  calc(14 * var(--pixel)) calc(9 * var(--pixel)) var(--s2),
  calc(15 * var(--pixel)) calc(9 * var(--pixel)) var(--s2),
  calc(16 * var(--pixel)) calc(9 * var(--pixel)) var(--s2),
  calc(17 * var(--pixel)) calc(9 * var(--pixel)) var(--s2),
  calc(18 * var(--pixel)) calc(9 * var(--pixel)) var(--s2),
  calc(19 * var(--pixel)) calc(9 * var(--pixel)) var(--s1),
  /* ROW 10 */
  calc(7 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
  calc(9 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
  calc(10 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
  calc(11 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
  calc(12 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
  calc(13 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
  calc(14 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
  calc(15 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
  calc(16 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
  calc(17 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
  calc(18 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
  calc(19 * var(--pixel)) calc(10 * var(--pixel)) var(--s1),
  /* ROW 11 */
  calc(7 * var(--pixel)) calc(11 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
  calc(9 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
  calc(10 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
  calc(11 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
  calc(12 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
  calc(13 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
  calc(14 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
  calc(15 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
  calc(16 * var(--pixel)) calc(11 * var(--pixel)) var(--c1),
  calc(17 * var(--pixel)) calc(11 * var(--pixel)) var(--s1),
  /* ROW 12 */
  calc(6 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
  calc(7 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
  calc(9 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
  calc(10 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
  calc(11 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
  calc(12 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
  calc(13 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
  calc(14 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
  calc(15 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
  calc(16 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
  calc(17 * var(--pixel)) calc(12 * var(--pixel)) var(--s1),
  calc(21 * var(--pixel)) calc(12 * var(--pixel)) var(--s4),
  /* ROW 13 */
  calc(5 * var(--pixel)) calc(13 * var(--pixel)) var(--s1),
  calc(6 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
  calc(7 * var(--pixel)) calc(13 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
  calc(9 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
  calc(10 * var(--pixel)) calc(13 * var(--pixel)) var(--s1),
  calc(11 * var(--pixel)) calc(13 * var(--pixel)) var(--s1),
  calc(12 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
  calc(13 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
  calc(14 * var(--pixel)) calc(13 * var(--pixel)) var(--c1),
  calc(15 * var(--pixel)) calc(13 * var(--pixel)) var(--s1),
  calc(16 * var(--pixel)) calc(13 * var(--pixel)) var(--s1),
  calc(17 * var(--pixel)) calc(13 * var(--pixel)) var(--s1),
  calc(20 * var(--pixel)) calc(13 * var(--pixel)) var(--s4),
  calc(21 * var(--pixel)) calc(13 * var(--pixel)) var(--s4),
  calc(22 * var(--pixel)) calc(13 * var(--pixel)) var(--s4),
  /* ROW 14 */
  calc(6 * var(--pixel)) calc(14 * var(--pixel)) var(--s1),
  calc(7 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
  calc(8 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
  calc(9 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
  calc(10 * var(--pixel)) calc(14 * var(--pixel)) var(--s1),
  calc(11 * var(--pixel)) calc(14 * var(--pixel)) var(--s1),
  calc(12 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
  calc(13 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
  calc(14 * var(--pixel)) calc(14 * var(--pixel)) var(--c1),
  calc(15 * var(--pixel)) calc(14 * var(--pixel)) var(--s1),
  calc(16 * var(--pixel)) calc(14 * var(--pixel)) var(--s1),
  calc(17 * var(--pixel)) calc(14 * var(--pixel)) var(--s1),
  calc(20 * var(--pixel)) calc(14 * var(--pixel)) var(--s4),
  calc(21 * var(--pixel)) calc(14 * var(--pixel)) var(--s4),
  calc(22 * var(--pixel)) calc(14 * var(--pixel)) var(--s4),
  /* ROW 15 */
  calc(6 * var(--pixel)) calc(15 * var(--pixel)) var(--s1),
  calc(7 * var(--pixel)) calc(15 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
  calc(9 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
  calc(10 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
  calc(11 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
  calc(12 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
  calc(13 * var(--pixel)) calc(15 * var(--pixel)) var(--c2),
  calc(14 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
  calc(15 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
  calc(16 * var(--pixel)) calc(15 * var(--pixel)) var(--c1),
  calc(17 * var(--pixel)) calc(15 * var(--pixel)) var(--s1),
  /* ROW 16 */
  calc(7 * var(--pixel)) calc(16 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
  calc(9 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
  calc(10 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
  calc(11 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
  calc(12 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
  calc(13 * var(--pixel)) calc(16 * var(--pixel)) var(--c2),
  calc(14 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
  calc(15 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
  calc(16 * var(--pixel)) calc(16 * var(--pixel)) var(--c1),
  calc(17 * var(--pixel)) calc(16 * var(--pixel)) var(--s1),
  calc(21 * var(--pixel)) calc(16 * var(--pixel)) var(--s4),
  /* ROW 17 */
  calc(7 * var(--pixel)) calc(17 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
  calc(9 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
  calc(10 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
  calc(11 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
  calc(12 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
  calc(13 * var(--pixel)) calc(17 * var(--pixel)) var(--c2),
  calc(14 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
  calc(15 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
  calc(16 * var(--pixel)) calc(17 * var(--pixel)) var(--c1),
  calc(17 * var(--pixel)) calc(17 * var(--pixel)) var(--s1),
  /* ROW 18 */
  calc(7 * var(--pixel)) calc(18 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
  calc(9 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
  calc(10 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
  calc(11 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
  calc(12 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
  calc(13 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
  calc(14 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
  calc(15 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
  calc(16 * var(--pixel)) calc(18 * var(--pixel)) var(--c1),
  calc(17 * var(--pixel)) calc(18 * var(--pixel)) var(--s1),
  calc(21 * var(--pixel)) calc(18 * var(--pixel)) var(--s4),
  /* ROW 19 */
  calc(7 * var(--pixel)) calc(19 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
  calc(9 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
  calc(10 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
  calc(11 * var(--pixel)) calc(19 * var(--pixel)) var(--s1),
  calc(12 * var(--pixel)) calc(19 * var(--pixel)) var(--s1),
  calc(13 * var(--pixel)) calc(19 * var(--pixel)) var(--s1),
  calc(14 * var(--pixel)) calc(19 * var(--pixel)) var(--s1),
  calc(15 * var(--pixel)) calc(19 * var(--pixel)) var(--s1),
  calc(16 * var(--pixel)) calc(19 * var(--pixel)) var(--c1),
  calc(17 * var(--pixel)) calc(19 * var(--pixel)) var(--s1),
  /* ROW 20 */
  calc(7 * var(--pixel)) calc(20 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
  calc(9 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
  calc(10 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
  calc(11 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
  calc(12 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
  calc(13 * var(--pixel)) calc(20 * var(--pixel)) var(--c1),
  calc(14 * var(--pixel)) calc(20 * var(--pixel)) var(--s1),
  calc(15 * var(--pixel)) calc(20 * var(--pixel)) var(--c3),
  calc(16 * var(--pixel)) calc(20 * var(--pixel)) var(--s1),
  calc(17 * var(--pixel)) calc(20 * var(--pixel)) var(--s1),
  calc(19 * var(--pixel)) calc(20 * var(--pixel)) var(--s1),
  calc(20 * var(--pixel)) calc(20 * var(--pixel)) var(--s1),
  calc(21 * var(--pixel)) calc(20 * var(--pixel)) var(--s1),
  calc(22 * var(--pixel)) calc(20 * var(--pixel)) var(--s1),
  calc(23 * var(--pixel)) calc(20 * var(--pixel)) var(--s1),
  /* ROW 21 */
  calc(7 * var(--pixel)) calc(21 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
  calc(9 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
  calc(10 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
  calc(11 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
  calc(12 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
  calc(13 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
  calc(14 * var(--pixel)) calc(21 * var(--pixel)) var(--c1),
  calc(15 * var(--pixel)) calc(21 * var(--pixel)) var(--s1),
  calc(16 * var(--pixel)) calc(21 * var(--pixel)) var(--c3),
  calc(17 * var(--pixel)) calc(21 * var(--pixel)) var(--s1),
  calc(19 * var(--pixel)) calc(21 * var(--pixel)) var(--s1),
  calc(20 * var(--pixel)) calc(21 * var(--pixel)) var(--c3),
  calc(21 * var(--pixel)) calc(21 * var(--pixel)) var(--c3),
  calc(22 * var(--pixel)) calc(21 * var(--pixel)) var(--c3),
  calc(23 * var(--pixel)) calc(21 * var(--pixel)) var(--s1),
  /* ROW 22 */
  calc(7 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(22 * var(--pixel)) var(--c1),
  calc(9 * var(--pixel)) calc(22 * var(--pixel)) var(--c1),
  calc(10 * var(--pixel)) calc(22 * var(--pixel)) var(--c1),
  calc(11 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
  calc(12 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
  calc(13 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
  calc(14 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
  calc(15 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
  calc(16 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
  calc(17 * var(--pixel)) calc(22 * var(--pixel)) var(--c3),
  calc(18 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
  calc(19 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
  calc(20 * var(--pixel)) calc(22 * var(--pixel)) var(--c4),
  calc(21 * var(--pixel)) calc(22 * var(--pixel)) var(--c3),
  calc(22 * var(--pixel)) calc(22 * var(--pixel)) var(--c4),
  calc(23 * var(--pixel)) calc(22 * var(--pixel)) var(--s1),
  /* ROW 23 */
  calc(7 * var(--pixel)) calc(23 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(23 * var(--pixel)) var(--c1),
  calc(9 * var(--pixel)) calc(23 * var(--pixel)) var(--c1),
  calc(10 * var(--pixel)) calc(23 * var(--pixel)) var(--c1),
  calc(11 * var(--pixel)) calc(23 * var(--pixel)) var(--s1),
  calc(17 * var(--pixel)) calc(23 * var(--pixel)) var(--s1),
  calc(18 * var(--pixel)) calc(23 * var(--pixel)) var(--c3),
  calc(19 * var(--pixel)) calc(23 * var(--pixel)) var(--c3),
  calc(20 * var(--pixel)) calc(23 * var(--pixel)) var(--c3),
  calc(21 * var(--pixel)) calc(23 * var(--pixel)) var(--c4),
  calc(22 * var(--pixel)) calc(23 * var(--pixel)) var(--s1),
  /* ROW 24 */
  calc(7 * var(--pixel)) calc(24 * var(--pixel)) var(--s1),
  calc(8 * var(--pixel)) calc(24 * var(--pixel)) var(--c1),
  calc(9 * var(--pixel)) calc(24 * var(--pixel)) var(--c1),
  calc(10 * var(--pixel)) calc(24 * var(--pixel)) var(--c1),
  calc(11 * var(--pixel)) calc(24 * var(--pixel)) var(--s1),
  calc(18 * var(--pixel)) calc(24 * var(--pixel)) var(--s1),
  calc(19 * var(--pixel)) calc(24 * var(--pixel)) var(--s1),
  calc(20 * var(--pixel)) calc(24 * var(--pixel)) var(--s1),
  calc(21 * var(--pixel)) calc(24 * var(--pixel)) var(--s1)
  ;
}