.header {
  color: var(--text-colour);
  text-align: center;
}

.titlecontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.title {
  font-family: "Playfair", serif;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.titlecontainer *, .subheading, .info {
  user-select: none;
}

.acronym {
  font-weight: bold;
}

.fade {
  animation-fill-mode: both;
  font-size: 0.8em;
  transition: font-size 1000ms ease-in-out;
}

.shrink .fade {
  font-size: 0em;
}

.title:hover .fade {
  font-size: 0.8em;
}

.themetoggle {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-style: outset;
  border-radius: 5px;
  background: var(--text-colour);
  transition: background-color 600ms ease-in-out;
}

.themetoggle:hover {
  filter: brightness(1.5);
}

:global(.dark) .themetoggle:hover {
  filter: brightness(0.8);
}

.themeicon {
  height: 16px;
  width: 16px;
  filter: brightness(0) saturate(100%) invert(79%) sepia(72%) saturate(1797%) hue-rotate(2deg) brightness(101%) contrast(113%);
}

:global(.dark) .themeicon {
  filter: brightness(0) saturate(100%) invert(53%) sepia(90%) saturate(1351%) hue-rotate(359deg) brightness(100%) contrast(108%);
}


.hr {
  margin: 0 2rem;
  border-style: solid;
  border-top-width: 1px;
  border-color: var(--accent-colour);
}

.subcontainer {
  padding: 2rem;
}

.subheading {
  font-family: "Playfair", serif;
  font-size: 2.25rem;
  text-transform: uppercase;
}

.info, .notice {
  padding: 0 2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

.info {
  padding-top: 1.5rem;
}

.notice {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
  opacity: 0.7;
}

.filterbutton {
  background: none;
  border: none;
  text-transform: uppercase;
  color: var(--accent-colour);
  font-size: 1rem;
  transition: font-weight 300ms ease-in-out;
}

.filterbutton:hover {
  font-weight: bold;
}
