.artwork,
.artwork::before,
.artwork::after {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
}

.artwork::before {
  content: "";
  height: 80%;
  width: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 28%;
  background: radial-gradient(
      ellipse 100% 100% at 50% 50%,
      transparent 13%,
      white 13% 20%,
      transparent 20%
    ),
    radial-gradient(ellipse 100% 100% at 70% 30%, white 4%, transparent 0%),
    radial-gradient(
      ellipse 120% 70% at 10% 0%,
      rgba(105, 90, 205, 0.9),
      rgba(137, 43, 226, 0.8) 30%,
      transparent
    ),
    radial-gradient(
      ellipse 100% 100% at 100% 35%,
      rgba(255, 0, 255, 0.7),
      transparent
    ),
    radial-gradient(ellipse 100% 100% at 0% 100%, gold, orangered);
}

.artwork::after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 50%;
  border-radius: 28%;
  border: 20px solid white;
}
