.loading {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  animation: loading 1s linear infinite;
}

.loading::after {
  animation: dots 2.5s steps(3, end) infinite;
  font-size: inherit;
  color: inherit;
  content: "";
}

@keyframes dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}
