.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  margin-top: 2rem;
  background: var(--accent-colour);
}

.links, .copyright {
  padding: 0px 0.5rem;
  color: var(--text-colour);
  text-decoration-color: var(--background-colour);
  text-decoration-thickness: 0.1rem;
}

.links:hover {
  color: var(--background-colour);
}

:global(.dark) .links, :global(.dark) .copyright {
  color: var(--background-colour);
  text-decoration-color: var(--text-colour);
}

:global(.dark) .links:hover {
  color: var(--text-colour);
}