.artwork,
.artwork::before,
.artwork::after {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.artwork {
  border: 6px solid black;

  background-image:
    linear-gradient(90deg, transparent 46%, black 46% 48%, transparent 48% 63%, black 63% 65%, transparent 65%),
    linear-gradient(180deg, transparent 63%, black 63% 65%, transparent 65%),
    linear-gradient(180deg, transparent 46%, black 46% 48%, transparent 48%),
    linear-gradient(90deg, transparent 63%, black 63% 68.7%, transparent 68.7%),
    linear-gradient(180deg, red 64%, white 64%),
    linear-gradient(180deg, gold 20%, black 20% 22%, white 22% 64%, darkblue 64%),
    linear-gradient(180deg, white 35%, black 35% 37%, darkblue 37% 47%, gold 47%),
    linear-gradient(180deg, red 15%, black 15% 17%, white 17% 47%, gold 47%)
    ;

  background-size: 
    100% 100%,
    64% 100%,
    35% 100%,
    35% 47%,
    47% 100%,
    34% 100%,
    64% 100%,
    50% 100%
    ;

  background-position: 
    top 0 left 0,
    top 0 left 0,
    top 0 right 0,
    top 0 right 0,
    top 0 left 0,
    top 0 left 47%,
    top 0 right 35%,
    top 0 right 0
    ;

  background-repeat: no-repeat;
}