#root {
  background-size: 10px 10px;
  background-image: radial-gradient(
    ellipse 10% 10% at 50% 50%,
    silver 20%,
    cornsilk 75%
  );
  background-repeat: repeat;
}

.mocssa-title {
  width: 100%;
  padding: 20px 10%;
}