#root {
  /* Palette */
  --background-colour: #f0efe9;
  --text-colour: #222124;
  --accent-colour: #c0a46f;

  font-family: monospace;
  color: var(--text-colour);
  background: var(--background-colour);
}

.mocssa-header {
  text: var(--text-colour);
  text-align: center;
}

.mocssa-header .title {
  font-family: "Playfair", serif;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.mocssa-header .title .acronym {
  text-transform: uppercase;
  font-weight: bold;
}

.mocssa-header .title .fade {
  animation: animate-title 1000ms ease-in-out 1000ms forwards;
  animation-fill-mode: both;
}

.mocssa-header .title:hover .fade {
  animation: animate-title2 1000ms ease-in-out 0ms forwards;
}

@keyframes animate-title {
  from {
    font-size: 0.8em;
  }
  to {
    font-size: 0em;
  }
}
@keyframes animate-title2 {
  from {
    font-size: 0em;
  }
  to {
    font-size: 0.8em;
  }
}

.mocssa-header .hr {
  margin: 0 2rem;
  border-style: solid;
  border-top-width: 1px;
  border-color: var(--accent-colour);
}

.mocssa-header .subcontainer {
  padding: 2rem;
}

.mocssa-header .subheading {
  font-family: "Playfair", serif;
  font-size: 2.25rem;
  text-transform: uppercase;
}

.mocssa-header .info {
  padding: 1.5rem 2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

.mocssa-header .filter-button {
  background: none;
  border: none;
  text-transform: uppercase;
  color: var(--accent-colour);
  font-size: 1rem;
  transition: font-weight 300ms ease-in-out;
}

.mocssa-header .filter-button:hover {
  font-weight: bold;
}
