#root {
  /* Light Palette */
  --background-colour: #f0efe9;
  --text-colour: #222124;
  --accent-colour: #c0a46f;

  font-family: monospace;
  color: var(--text-colour);
  background: var(--background-colour);

  transition: background-color 600ms;
}

.dark #root {
  /* Dark Palette */
  --background-colour: #222124;
  --text-colour: #f0efe9;
  --accent-colour: #c0a46f;
}

.mocssa-header {
  text: var(--text-colour);
  text-align: center;
}

.mocssa-header .title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.mocssa-header .title {
  font-family: "Playfair", serif;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.mocssa-header .title .acronym {
  text-transform: uppercase;
  font-weight: bold;
}

.mocssa-header .title .fade {
  animation-fill-mode: both;
  font-size: 0.8em;
  transition: font-size 1000ms ease-in-out;
}

.mocssa-header .title.shrink .fade {
  font-size: 0em;
}

.mocssa-header .title:hover .fade {
  font-size: 0.8em;
}

.mocssa-header .theme-toggle {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
  background: var(--text-colour);
  transition: background-color 600ms ease-in-out;
}

.dark .mocssa-header .theme-toggle:hover {
  filter: brightness(0.8);
}
.mocssa-header .theme-toggle:hover {
  filter: brightness(1.5);
}

.mocssa-header .hr {
  margin: 0 2rem;
  border-style: solid;
  border-top-width: 1px;
  border-color: var(--accent-colour);
}

.mocssa-header .subcontainer {
  padding: 2rem;
}

.mocssa-header .subheading {
  font-family: "Playfair", serif;
  font-size: 2.25rem;
  text-transform: uppercase;
}

.mocssa-header .info {
  padding: 1.5rem 2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

.mocssa-header .filter-button {
  background: none;
  border: none;
  text-transform: uppercase;
  color: var(--accent-colour);
  font-size: 1rem;
  transition: font-weight 300ms ease-in-out;
}

.mocssa-header .filter-button:hover {
  font-weight: bold;
}
