.frame {
  position: relative;
}

.frame:hover > .information {
  visibility: visible;
}

.information {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.75rem;
  padding: 0.0625rem 0.125rem;
  margin: 0.0625rem 0.1875rem;
  word-wrap: wrap;
  text-align: right;
  z-index: 50;
  color: black;
  background: rgba(255, 255, 255, 0.95);
  border: none;
  font-family: monospace;
  text-decoration: none;
}

.information:hover {
  filter: invert(1);
}

.information > * {
  display: inline-block;
}

.popout {
  height: 0.75rem;
  width: 0.75rem;
}

.title {
  font-weight: bold;
}

.creator {
  font-style: italic;
  white-space: pre;
  padding-right: 1ch;
}